.footer {
    width: 100%;
    background: black;
    display: block;
    }
    
    .inner_footer {
     width: 89%;
     margin: auto;
     padding: 30px 10px;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     justify-content: center;
    }
    
    .footer_items {
    width: 33%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    }
    
    .footer_items p {
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    color: #fff;
    }
    
    .footer_items h1 {
    color: #fff;
    }
    
     
    .footer_items ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;	
    }
    
    .footer_items ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
    }
    
    .footer_items ul a:hover {
    font-size: 1rem;
    }
    
    .footer_items ul li {
    margin: 10px 0;
    height: 25px;
    }
    
    .footer_items li i {
    margin-right: 20px;
    }
    
    .social_media {
    width: 100%;
    color: #fff;
    font-size: 20px;
    }
    
    .social_media a {
    text-decoration: none;
    }
    
    .social_media i {
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: #fff;
    transition: 0.5s;
    }
    
    .social_media i:hover {
    transform: scale(1.5);
    }
    
    .footer_bottom {
    padding: 10px;
    background: black;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    }
    
    /* for tablet mode view */
    
    @media screen and (max-width: 1275px) {
    .footer_items {
      width: 50%;
    }
    }
    
    /* for mobile screen view */
    
    @media screen and (max-width: 660px) {
    .footer_items {
      width: 100%;
    }
    }