/* .plan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow:scroll;
  }
  
  .plan_content_h {
    color: #0c3a08;
    font-size: 40px;
    margin-bottom: 0.7rem;
    text-align: center;
  }
  .plan_content_p {
    color: #0c3a08;
    width: 70%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .plan_content_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .plan_content_btns button {
    margin-top: 3rem;
    padding: 1rem;
    width: 40%;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .plan_content_btns_onestep {
    color: white;
    border: none;
    background: #0a3100;
    padding: 1rem;
    width: 40%;
    border-radius: 1rem;
    
  }
  
  .plan_content_btns_standard {
    width: 40%;
    color: black;
    border: 2px solid;
    border-color: #0a3100;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    
  }
  
  .header_1 {
    grid-area: header_1;
    background: #0a3100;
    color: white;
  }
  .header_2 {
    grid-area: header_2;
    background: #fee2cb;
  }
  .header_3 {
    grid-area: header_3;
    background: #fee2cb;
  }
  .header_4 {
    grid-area: header_4;
    background: #fee2cb;
  }
  .header_5 {
    grid-area: header_5;
    background: #fee2cb;
  }
  .header_6 {
    grid-area: header_6;
    background: #fee2cb;
  }
  .header_7 {
    grid-area: header_7;
    background: #fee2cb;
  }
  
  .target {
    grid-area: target;
    background: #fee2cb;
  }
  .target_value {
    grid-area: target_value;
  }
  
  .min_trade_days {
    grid-area: min_trade_days;
  }
  .min_trade {
    grid-area: min_trade;
    background: #fee2cb;
  }
  .max_trade_days {
    grid-area: max_trade_days;
  }
  .max_trade {
    grid-area: max_trade;
    background: #fee2cb;
  }
  
  .leverage {
    grid-area: leverage;
    background: #fee2cb;
  }
  .leverage_value {
    grid-area: leverage_value;
  }
  
  .profit {
    grid-area: profit;
    background: #fee2cb;
  }
  .profit_value {
    grid-area: profit_value;
  }
  
  .refund {
    grid-area: refund;
    background: #fee2cb;
  }
  
  .refund_value_1 {
    grid-area: refund_value_1;
  }
  .refund_value_2 {
    grid-area: refund_value_2;
  }
  .refund_value_3 {
    grid-area: refund_value_3;
  }
  .refund_value_4 {
    grid-area: refund_value_4;
  }
  .refund_value_5 {
    grid-area: refund_value_5;
  }
  .refund_value_6 {
    grid-area: refund_value_6;
  }
  
  .plan_area {
    grid-area: plan_area;
    background: #fee2cb;
  }
  
  .plan_btn_1 button,
  .plan_btn_2 button,
  .plan_btn_3 button,
  .plan_btn_4 button,
  .plan_btn_5 button,
  .plan_btn_6 button {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    font-size: 0.7rem;
    cursor: pointer;
    color: white;
    background: #0a3100;
  }
  
  .plan_btn_1 button:hover,
  .plan_btn_2 button:hover,
  .plan_btn_3 button:hover,
  .plan_btn_4 button:hover,
  .plan_btn_5 button:hover,
  .plan_btn_6 button:hover {
    color: black;
    background-color: white;
    border: 2px solid #0a3100;
  }
  .plan_btn_1 {
    grid-area: plan_btn_1;
  }
  .plan_btn_2 {
    grid-area: plan_btn_2;
  }
  .plan_btn_3 {
    grid-area: plan_btn_3;
  }
  .plan_btn_4 {
    grid-area: plan_btn_4;
  }
  .plan_btn_5 {
    grid-area: plan_btn_5;
  }
  .plan_btn_6 {
    grid-area: plan_btn_6;
  }
  
  .plan_content_tables_grid_onestep{
    color: black;
    display: grid;
    grid-template-areas:
      "header_1 header_2 header_3 header_4 header_5"
      "target target_value target_value target_value target_value"
      "min_trade min_trade_days min_trade_days min_trade_days min_trade_days"
      "max_trade max_trade_days max_trade_days max_trade_days max_trade_days"
      "leverage leverage_value leverage_value leverage_value leverage_value"
      "profit profit_value profit_value profit_value profit_value"
      "refund refund_value_1 refund_value_2 refund_value_3 refund_value_4"
      "plan_area plan_btn_1 plan_btn_2 plan_btn_3 plan_btn_4";
    margin: 2rem 0;
    border: 2px solid #000;
    border-radius: 1rem;
    overflow: hidden;
  }
  .plan_content_tables_grid_standard{
    color: black;
    display: grid;
    grid-template-areas:
      "header_1 header_2 header_3 header_4 header_5 header_6 header_7"
      "target target_value target_value target_value target_value target_value target_value"
      "min_trade min_trade_days min_trade_days min_trade_days min_trade_days min_trade_days min_trade_days"
      "max_trade max_trade_days max_trade_days max_trade_days max_trade_days max_trade_days max_trade_days"
      "leverage leverage_value leverage_value leverage_value leverage_value leverage_value leverage_value"
      "profit profit_value profit_value profit_value profit_value profit_value profit_value"
      "refund refund_value_1 refund_value_2 refund_value_3 refund_value_4 refund_value_5 refund_value_6"
      "plan_area plan_btn_1 plan_btn_2 plan_btn_3 plan_btn_4 plan_btn_5 plan_btn_6";
    margin: 1rem 0;
    border: 2px solid #000;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .plan_content_tables_grid_onestep div, .plan_content_tables_grid_standard div {
    padding: 0.8rem;
  } 
  

.plan_table table {
  text-align: center;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid black;
}

.plan_table td {
  text-align: center;
  overflow: hidden;
  padding: 0.6em 1rem;
}
.plan_table th {
  text-align: center;
  overflow: hidden;
  padding: 0.6em 1rem;
}

.plan_btn {
  background: #0A3100;
  color: white;
  padding: 0.4em 1rem;
  border-radius: 0.3rem;
  border: 0;
  cursor: pointer;
}

  @media screen and (max-width: 748px){
    .plan_content_h{
      font-size: 1.3rem;
    }
    .plan_content_p {
      font-size: 12px;
      line-height: 15px;
    }
    .plan_content_btns {
      gap: 2rem;
    }
    
    .plan_content_btns button {
      margin-top: 1.5rem;
      width: 35%;
      font-size: 10px;
      padding: 0.7rem;
    }

  }
   */

   .plan {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  
  .plan_content_h {
    color: #0c3a08;
    font-size: 40px;
    margin-bottom: 0.7rem;
    text-align: center;
  }
  .plan_content_p {
    color: #0c3a08;
    width: 70%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: auto;
  }

  .plan_content_btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .plan_content_btns button {
    margin-top: 3rem;
    padding: 1rem;
    width: 40%;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  
  .plan_content_btns_onestep {
    color: white;
    border: none;
    background: #0a3100;
    padding: 1rem;
    width: 40%;
    border-radius: 1rem;
    
  }
  
  .plan_content_btns_standard {
    width: 40%;
    color: black;
    border: 2px solid;
    border-color: #0a3100;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    
  }

   .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  .table td {
    padding: 7px 10px;
    text-align: center;
    min-width: 150px;
  }

  .table th {
    padding: 15px 30px;
    font-weight: 500;
    text-align: center;
    background: #FEE2CB;
  }

  .scroll_container {
    overflow: auto;
    margin-bottom: 40px;
    border-left: 1px solid;
    border-right: 1px solid;
    max-width: 1120px;
    margin: 40px auto;
    border: 1px solid;
    border-radius: 20px;
  }
   .scroll {
    margin: 0;
  }
  
  .scroll td:first-of-type {
    position: sticky;
    left: 0;
    padding: 1rem 0.5rem;
    border: none;
    background: #FEE2CB;
    color: #212121;
  }

  .plan_buttons {
  background: #0A3100;
  color: white;
  padding: 0.4em 1rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  }

  @media only screen and (max-width: 1100px) {
  .scroll_container {
    margin: 40px 25px;
  }
  }

  
  @media screen and (max-width: 748px){
    .plan_content_h{
      font-size: 1.3rem;
    }
    .plan_content_p {
      font-size: 12px;
      line-height: 15px;
    }
    .plan_content_btns {
      gap: 2rem;
    }
    
    .plan_content_btns button {
      margin-top: 1.5rem;
      width: 35%;
      font-size: 10px;
      padding: 0.7rem;
    }

  }
  /* .scroll td:first-of-type:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    height: 100%;
    width: 1px;
    background: #000;
  } */
  
  /* .scroll td:last-of-type {
    border-right: none;
  } */